.app {
  /* display: flex; */
  justify-content: space-evenly;
  padding: 20px;
}

.app-dropdown {
  background-color: white;
}

.app-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.app-header > h1 {
  color: #fc3c3c;
  font-size: 2rem;
}

.app-left {
  padding: 20px;
  /* flex: 0.9; */
}

.app-right {
  width: 50%;
  margin: 40px auto;
}

.app-stats {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

@media (max-width: 990px) {
  /* .app {
    flex-direction: column;
  } */
  .app-right {
    width: auto !important;
    margin: 40px 10px;
  }

  .app-left {
    padding: 20px;
  }
}
